<a href="https://colab.research.google.com/github/PoonamJ12/poonam/blob/main/pract1horus.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
sInputfilename='/content/Country_Code.csv'
Inputdata=pd.read_csv(sInputfilename,encoding="latin-1")
print(Inputdata)

   sno         country ISO-2-CODE ISO-3-CODE  ISO-M49
0    0     Afghanistan         AF        AFG        4
1    1  Aland  Islands         AX        ALA      248
2    2         Albania         AL        ALB        8
3    3         Algeria         DZ        DZA       12
4    4  American Samoa         AS        ASM       16

In [2]:
Processdata=Inputdata
Processdata.drop('ISO-2-CODE',axis=1,inplace=True)
Processdata.drop('ISO-3-CODE',axis=1,inplace=True)
Processdata.rename(columns={'country':'Countryname'},inplace=True)
Processdata.rename(columns={'ISO-M49':'CountryNumber'},inplace=True)
Processdata.set_index('CountryNumber',inplace=True)
print(Processdata)

               sno     Countryname
CountryNumber
4                0     Afghanistan
248              1  Aland  Islands
8                2         Albania
12               3         Algeria
16               4  American Samoa

In [5]:
Outputdata=Processdata
sOutputFilename="/content/HORUS-CSV-Country1.csv"
Outputdata.to_csv(sOutputFilename)
print('CSV to Horus-DONE')

CSV to Horus-DONE